body{
  background-color: rgb(231, 228, 228);
  margin: 0;
  padding: 0;
}

.container{
  margin: 2rem auto;
  background-color: #ffff;
  border-radius: 20px;
  min-height: 27rem;
  padding: 25px;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cards-renders{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}
@media only screen and (max-width : 959px) {
    .cards-renders{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    }
    .container{
      width: min-content;
    }
}
@media only screen and (max-width : 480px) {
  .cards-renders{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }
  .container{
    width: min-content;
  }
}